**/bin
**/obj
**/.vs
**/.vscode
**/node_modules
**/.angular/cache
/src/SpartanFitness.Infrastructure/MSSQL/Data/*
/src/SpartanFitness.Infrastructure/MSSQL/Log/*
/src/SpartanFitness.Infrastructure/MSSQL/Secrets/*
.env