**/.vs
**/.vscode

**/bin
**/obj
**/*.env
**/node_modules
**/appsettings.Production.json

scripts/setup-db.ps1

## [SpartanFitness.Infrastructure] ##
src/SpartanFitness.Infrastructure/MSSQL/Data/*
src/SpartanFitness.Infrastructure/MSSQL/Log/*
src/SpartanFitness.Infrastructure/MSSQL/Secrets/*

## [SpartanFitness.ClientApp] ##
# dependencies
src/SpartanFitness.ClientApp/node_modules
src/SpartanFitness.ClientApp/.pnp
src/SpartanFitness.ClientApp/.pnp.js

# testing
src/SpartanFitness.ClientApp/coverage

# production
src/SpartanFitness.ClientApp/build

# misc
src/SpartanFitness.ClientApp/.DS_Store
src/SpartanFitness.ClientApp/.env.local
src/SpartanFitness.ClientApp/.env.development.local
src/SpartanFitness.ClientApp/.env.test.local
src/SpartanFitness.ClientApp/.env.production.local

src/SpartanFitness.ClientApp/npm-debug.log*
src/SpartanFitness.ClientApp/yarn-debug.log*
src/SpartanFitness.ClientApp/yarn-error.log*