**/.vs
**/.vscode

**/bin
**/obj
**/*.env
**/node_modules
**/appsettings.Production.json

scripts/setup-db.ps1

## [GitHubFitness.Infrastructure] ##
src/GitHubFitness.Infrastructure/MSSQL/Data/*
src/GitHubFitness.Infrastructure/MSSQL/Log/*
src/GitHubFitness.Infrastructure/MSSQL/Secrets/*

## [GitHubFitness.ClientApp] ##
# dependencies
src/GitHubFitness.ClientApp/node_modules
src/GitHubFitness.ClientApp/.pnp
src/GitHubFitness.ClientApp/.pnp.js

# testing
src/GitHubFitness.ClientApp/coverage

# production
src/GitHubFitness.ClientApp/build

# misc
src/GitHubFitness.ClientApp/.DS_Store
src/GitHubFitness.ClientApp/.env.local
src/GitHubFitness.ClientApp/.env.development.local
src/GitHubFitness.ClientApp/.env.test.local
src/GitHubFitness.ClientApp/.env.production.local

src/GitHubFitness.ClientApp/npm-debug.log*
src/GitHubFitness.ClientApp/yarn-debug.log*
src/GitHubFitness.ClientApp/yarn-error.log*